@model Shop.Models.Acuweather.AcuweatherIndexViewModel


<div class="container">
    <h2>Forecast for the selected city</h2>
    <h2>@Html.DisplayFor(model => model.City)</h2>
    <hr />

    <table style="color:white;" class="table">
        <tbody>
            <tr>
                <th scope="row">Icon Phrase</th>
                <td>@Html.DisplayFor(model => model.IconPhrase)</td>
            </tr>
            <tr>
                <th scope="row">Text</th>
                <td>@Html.DisplayFor(model => model.Text)</td>
            </tr>
            <tr>
                <th scope="row">Maximum</th>
                <td>@Html.DisplayFor(model => model.Maximum) °F</td>
            </tr>
            <tr>
                <th scope="row">Minimum</th>
                <td>@Html.DisplayFor(model => model.Minimum) °F</td>
            </tr>
            <tr>
                <th scope="row">Link</th>
                <td>@Html.DisplayFor(model => model.Link)</td>
            </tr>
        </tbody>
    </table>
</div>


