@model Shop.Models.Spaceship.SpaceshipDetailsViewModel

<link rel="stylesheet" href="~/css/NavMenuSpaceShop.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/SpaceshopSpacePage.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/SpaceShopInscriptionSpaceShop.css" asp-append-version="true" />

<div class="neon">
    <div class="green">Details</div> 

</div>
<style>
    .dark-transparent-background {
        background-color: rgba(0, 0, 0, 0.3); 
        width: 100%;
        height: 45%; 
        border-radius: 3%;
        
    }


    img{
        position:relative;
        height:180px;
        width: 50px;
    }

</style>



<duv>

    <div class="neon">
        <div class="red">Spaceships</div> 

    </div>
    <hr />
    <div class="formHeight">
    <div class="dark-transparent-background ">
    <dl class="row">
        <div class="form-group row"> 
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model=>Model.Id)  

        </div>

        <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.Name)

        </div>

        <div class="form-group row">
        <label asp-for="Type" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.Type)

        </div>

        <div class="form-group row">
        <label asp-for="Passangers" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.Passangers)

        </div>

        <div class="form-group row">
        <label asp-for="EnginPower" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.EnginPower)

        </div>

        <div class="form-group row">
        <label asp-for="Crew" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.Crew)

        </div>

        <div class="form-group row">
        <label asp-for="Company" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.Company)

        </div>

        <div class="form-group row">
        <label asp-for="CargoWeight" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.CargoWeight)

        </div>

        <div class="form-group row">
        <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.CreatedAt)

        </div>

        <div class="form-group row">
        <label asp-for="Modifieted" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.Modifieted)

        </div>
       
        @foreach (var images in Model.FileToApiViewModels)
        {
            
            <partial name="_Images" model="images" />
            
            
        }
         

    </dl>
    </div>
    </div>
    </hr>
   
    <a asp-action="index" class="btn btn-outline-primary">Back</a>


</duv>
